# an example runtime config file
host_addr 192.168.1.80
host_netmask 255.255.255.0
host_gateway 192.168.1.1
runtime_kthreads 1
#runtime_spinning_kthreads 2
#runtime_guaranteed_kthreads 2
runtime_priority lc
#preferred_socket 0
#disable_watchdog 1
enable_directpath 1
#host_mtu 8000
directpath_pci 0000:3b:00.0